body {
  background-color: white;
}

.tracks {
  padding-left: 0;
  width: 570px;
  margin: 0 auto;
}

.track {
  position: relative;
  height: 85px;
  list-style-type: none;
  padding-left: 129px;
  padding-top: 25px;
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.09);
  background: linear-gradient(154deg, #FFFFFF 0%,#F1F1F1 100%);
  margin: 10px;
}

li.track {}

.track .artwork {
  position: absolute;
  height: 110px;
  width: 110px;
  top: 0;
  left: 0;
}

.track .title, .track .user {
  font-family: sans-serif;
  color: rgba(28, 25, 49, 0.61);
  text-decoration: none;
}

.track .title {
  font-size: 18px;
  color: #110C4C;
}

.track .user:hover, .track .title:hover {
  text-decoration: underline;
}

.track .fa {
  font-size: 24px;
  margin: 4px;
  color: #969696;
  cursor: pointer;
}

.track .fa.vote-up {
  color: #24C300;
}

.track .fa.vote-down {
  color: #5254FF;
}
